@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;600;900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

*/
#main-container:has(.my-lists-main){
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.my-lists-main:has(.log-in-msg){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    color: white;
    font-style: italic;
    user-select: none;
}

.my-lists-main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.add-new-list-div{
    border: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.085);
    gap: 5px;
    transition: 0.1s linear transform, opacity;
    user-select: none;
    opacity: 0.7;
    margin-bottom: 50px;
}
.add-new-list-div:hover{
    opacity:1;
    transform: scale(1.1);
}
.add-new-list-div > button {
    cursor: pointer;
}

.add-new-list-div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.add-new-list-div img{
    cursor: pointer;
    width: 60px;
    filter:invert(100);
}
.add-new-list-input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s linear;
    height: 80px;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.223);
    border-left: none;
    border-right: none;

}
.add-new-list-input-container-hidden{
    overflow:hidden;
    height: 0;
    padding: 0px;
}
.add-new-list-input-container input{
    text-align: center;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    font-family: "Roboto";
}

.add-new-list-input-container button{
    padding: 3px 0px;
    font-family: "Montserrat";
    background: none;
    background-color: rgba(240, 248, 255, 0.201);
    color: white;
    border: 1px solid white;
    padding: 5px 0px;
    cursor: pointer;
}

/* ------------------------- */
/* movie card face */
.user-list-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}
.list-card-face{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgba(255, 255, 255, 0.108);
    user-select: none;
    border-radius: 20px;

}

.list-card-face-info{
    overflow: scroll;
    display: flex;
    flex-direction: column;

}
.list-card-square:nth-child(odd){
    background-color: rgba(246, 246, 246, 0.071);
}
.list-card-face-info:has(.list-card-empty){
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
}
.list-card-square{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-card-square img{
    width: 30px;

}

.list-card-square p{
    text-align: center;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
    color: black;
    background-color: rgba(255, 255, 255, 0.519);
    border-radius: 10px;
    padding: 5px;
}

.list-card-square button{
    background: none;
    font-size: 1.2rem;
    padding: 2px;
}
.list-card-square button img{
    filter: invert(100%);
}
.list-title-div{
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding-bottom: 3px;
    width: 100%;
}

.list-title-div form{

    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;

}
.list-title-div form input{
    background: none;
    outline: rgba(0, 0, 255, 0.529);
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.list-title-div form button{
    background: none;
    filter: hue-rotate(190deg);
    border: none;
    opacity: 0.6;
}
.list-title-div form button{
    margin-top: 5px;
}
.list-card-empty{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
}
.list-title-div p{
    font-weight: 600;
    color: rgb(191, 191, 191);
}
.list-title-div img{
    width: 20px;
    transition: transform 0.15s linear;
    filter: invert(100%);
}
.list-title-div img:hover{
    transform: scale(1.2);
}
.list-title-div > div{
    position: relative;
    cursor: pointer;
}
.edit-list-face::after,.del-list-face::after {
    content: "Edit list name";
    font-size: 0.8rem;
    top: -20px;
    left: -28px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.665);
    border-radius: 20px;
    color: black;
    padding: 3px 5px;
    white-space: nowrap;
    position: absolute;
    transition: all 0.3s linear;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.del-list-face::after{
    content: "Delete list";
    top: -20px;
    left: -20px;
}

.list-title-div >div:hover::after{
    opacity: 0.8;
}
