@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600,900&family=Roboto:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 1);
}

#root{

}

nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 10;

}

#main-container{
    height: 100vh;

}

.loading-cont{
    color: white;
}