*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 1);
}

#root{

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(251, 251, 251, 1);
    z-index: 10;
}

#main-container{
    height: 100vh;

}

.loading-cont{
    color: white;
}